{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 style="color: #ff579f;">Blog_Post by [{{view.kwargs.username }}] [List of Post ({{ page_obj.paginator.count }})]</h1>
    {% for message in messages %}
        <div class="messages">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% for posts in post %}
        <div class="container">
            <div class="shape">
                <img src="{{ posts.author.profile.image.url }}" alt="">
            </div>
            <h2><a href="{% url 'post-detail' posts.id %}">{{posts.title}}</a></h2>
            <h3><a href="{% url 'user-post' posts.author.username %}">{{posts.author}}</a></h3>
            <p>{{posts.content}}</p>
            <p>On: {{posts.date_posted}}</p>
        </div>
    {%  endfor %}
    <div class="pag">
        <div class="child">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Pre</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}